.regular-text-white {
  font-weight: 300;
  font-size: 16px;
  color: #fff;
}

.regular-text-black,
.catalog-par {
  font-weight: 300;
  font-size: 16px;
  color: black;
}

.catalog-par {
  margin-top: 1.5rem;
}

.section-par {
  font-weight: 300;
  font-size: 20px;
  color: black;
}

.section-par-white {
  font-weight: 300;
  font-size: 20px;
  color: white;
}

.capitalized {
  text-transform: uppercase;
  color: #fff;
  margin-top: 4rem;
}

.paragraph-white {
  margin-top: 1rem;
  color: #fff;
}

.paragraph-black {
  margin-top: 1rem;
  color: black;
}
